body {
    background-color: #263238;
}

.bg-green {
    background-color: #689F38;
}

/* BOOTSTRAP KOMPONENTY */
.container-main {
    margin-top: 2rem;
}

.container-login {
    margin-top: 15%;
}

.card {
    border: none;
}

.card-header {
    background-color: #689F38;
    color: #FAFAFA;
    padding: 0.25rem 1rem;
    font-size: 11pt;
}

.card-footer {
    padding: 0.1rem 1rem;
}

a {
    color: #689F38;
}

a:hover {
    color: #558B2F;
}

.row {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.row-detail {
    margin-top: 1rem;
}

.row-transactions:hover {
    background-color: #E0E0E0;
}

.row-dark {
    background-color: #E0E0E0;
}

/* TEXTY */

.text-row-detail {
    margin-left: 0.5rem;
}

.text-bold {
    font-weight: bold;
}

.text-small {
    font-size: 10pt;
}

.text-success {
    color: #689F38 !important;
}

.text-danger {
    color: #ff2435 !important;
}

.text-horizontal-center {
    margin: auto;
}

/* VSTUPNÍ PRVKY */
.btn-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 2.5rem;
}

.btn-card-no-radius {
    border-radius: 0;
    height: 2.5rem;
}

.btn-card-small {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none !important;
    height: 2rem;
}

.btn-success {
    background-color: #689F38;
    border: none;
}

.btn-success:hover {
    background-color: #558B2F;
}

.btn-success:active {
    background-color: #33691E !important;
}

