<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <h3 class="card-header">Smazání uživatelského účtu</h3>
            <div class="card-body text-small">
                <p>Vážený kliente, vážená klientko,</p>
                <p>dovolujeme si Vás upozornit, že Váš uživatelský účet u Piggy Bank a.s. byl zrušen administrátorem a s ním i účet <span class="font-weight-bold">%s/%s</span>.</p>
            </div>
        </div>
    </div>
</div>