<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <h3 class="card-header">Změna uživatelských údajů</h3>
            <div class="card-body text-small">
                <p>Vážený kliente, vážená klientko,</p>
                <p>dovolujeme si Vás informovat, že došlo ke změně vašich uživatelských údajů administrátorem. Aktuální údaje můžete vidět níže.</p>
                <hr>
                %s
            </div>
        </div>
    </div>
</div>