<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <h3 class="card-header">Váš nový účet</h3>
            <div class="card-body text-small">
                <p>Vážený kliente, vážená klientko,</p>
                <p>zasíláme Vám přihlašovací údaje do internetového bankovnictví pro Váš nový účet.</p>
                <hr>
                <p><span class="font-weight-bold">Klientské číslo:</span> %s</p>
                <p><span class="font-weight-bold">Heslo:</span> %s</p>
            </div>
        </div>
    </div>
</div>