<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <h3 class="card-header">Nedostatek peněz na účtě</h3>
            <div class="card-body text-small">
                <p>Vážený kliente, vážená klientko,</p>
                <p>dovolujeme si Vás informovat, že na Vašem účtě není dostatek pěnez pro zpracování trvalého
                    příkazu a proto byl deaktivován. Níže naleznete podrobnější informace.
                </p>
                <hr>
                <div class="row">
                    <div class="col-3"><span class="font-weight-bold">Název příkazu:</span></div>
                    <div class="col-9">%s</div>
                </div>
                <div class="row">
                    <div class="col-3"><span class="font-weight-bold">Částka příkazu:</span></div>
                    <div class="col-9">%s Kč</div>
                </div>
                <div class="row">
                    <div class="col-3"><span class="font-weight-bold">Zůstatek na účtě:</span></div>
                    <div class="col-9">%s Kč</div>
                </div>
            </div>
        </div>
    </div>
</div>