.bg-blue {
    background-color: #039BE5;
}

.card-header {
    background-color: #039BE5;
}

a
{
    color: #039BE5;
}

a:hover
{
    color: #0277BD;
}

.a-trash{
    color: #ff2435;
}

.a-trash:hover{
    color: #cb0d22;
}