body {
    background-color: #263238;
}

.bg-blue {
    background-color: #039BE5;
}

.bg-green {
    background-color: #689F38;
}

/* BOOTSTRAP KOMPONENTY */
.container-main {
    margin-top: 2rem;
}

.container-login {
    margin-top: 15%;
}

.card {
    border: none;
}

.card-header {
    background-color: #689F38;
    color: #FAFAFA;
    padding: 0.25rem 1rem;
    font-size: 11pt;
}

.card-header-green {
    background-color: #689F38;
    color: #FAFAFA;
    padding: 0.25rem 1rem;
    font-size: 11pt;
}

.card-header-blue {
    background-color: #039BE5;
    color: #FAFAFA;
    padding: 0.25rem 1rem;
    font-size: 11pt;
}

.card-footer {
    padding: 0.1rem 1rem;
}

a {
    color: #689F38;
}

a:hover {
    color: #558B2F;
}

.row {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.row-detail {
    margin-top: 1rem;
}

.row-transactions:hover {
    background-color: #E0E0E0;
}

.row-dark {
    background-color: #E0E0E0;
}

.alert-info {
    background-color: #039BE5;
    color: #FAFAFA;
    border-color: #039BE5 !important;
}

.alert-danger {
    background-color: #ff2435;
    color: #FAFAFA;
    border-color: #ff2435 !important;
}

.alert-warning {
    background-color: #FF5722;
    color: #FAFAFA;
    border-color: #FF5722 !important;
}

.alert-success {
    background-color: #689F38;
    color: #FAFAFA;
    border-color: #689F38 !important;
}

/* TEXTY */

.text-row-detail {
    margin-left: 0.5rem;
}

.text-bold {
    font-weight: bold;
}

.text-small {
    font-size: 10pt;
}

.text-success {
    color: #689F38 !important;
}

.text-danger {
    color: #ff2435 !important;
}

.text-horizontal-center {
    margin: auto;
}

/* VSTUPNÍ PRVKY */
.btn-card {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 2.5rem;
}

.btn-card-small {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none !important;
    height: 2rem;
}

.btn-success {
    background-color: #689F38;
    border: none;
}

.btn-success:hover {
    background-color: #558B2F;
}

.btn-success:active {
    background-color: #33691E !important;
}

/* PAGINATOR */
.page-item .page-link{
    color: #689F38;
}

.page-item .page-link:active{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.page-item.active .page-link{
    background-color: #689F38;
    border-color: #689F38;
    color: #FAFAFA;
}

.page-item.active .page-link:active{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}